<div>
  <div fxLayout="column" fxLayoutAlign="center" fxFlex.gt-lg="40%" fxFlex="100" fxFlexOffset.gt-sm="30%"
       fxFlexOffset.sm="14%">
    <app-contact-list
      [contacts]="contacts"
      (editContact)="contactEdit($event)"
      (removeContact)="contactRemove($event)"
      (showContactOnMap)="contactShowOnMap($event)"
    ></app-contact-list>
<!--    <div class="gradientBottom"></div>-->
    <md-card-title-group>
      <a md-fab vibration routerLink="." (click)="addContact()" color="primary">
        <md-icon >add</md-icon>
      </a>
    </md-card-title-group>
  </div>
  <div fxLayout="column" fxFlex.gt-lg="40%" fxFlex.gt-sm="30%" fxFlex.sm="14%" fxFlex="0"></div>
</div>
