<md-card>
  <table class="ca-listItemText">
    <md-card-title>{{contact.firstName}} {{contact.lastName}}
    </md-card-title>
    <div>
      <md-card-content>
        <br>{{contact | contactAddress}}
        <br>{{contact.phoneNumber}}
      </md-card-content>
    </div>
  </table>
  <div class="ca-contactIconDiv">
  <i class="material-icons ca-listItemContactIcon">&#xE851;</i>
  </div>
  <md-card-actions class="ca-listItemButtons">
      <a md-mini-fab vibration (click)="onEdit(contact)">
        <md-icon>edit</md-icon>
      </a>
      <a md-mini-fab vibration (click)="onDelete(contact)">
        <md-icon>delete</md-icon>
      </a>
      <div id="mapButton">
        <a md-mini-fab vibration (click)="onMap(contact)">
          <md-icon>room</md-icon>
        </a>
      </div>
  </md-card-actions>

</md-card>
