md-card{
  margin-bottom: 15px;
  color: #283593;
}

md-card-actions{
  padding: 10px;
}

md-card-title{
  color: #5c6bc0;
  margin-bottom: auto;
}

#mapButton{
  float: right;
}

#card-headerbox{
  margin-top: 15px;
  background-color: #3F51B5;
  text-align: center;
  height: 50px;
}

a{
  background-color: #3584EB;
}
