md-card{
  margin-bottom: 40px;
  color: white;
  padding: 0;
  background: #4d7ae4;
}

.ca-listItemButtons{
  clear: both;
  margin: 0;
  padding: 0 5%;
  width: 90%;
  background-color: #ffffff;
}

md-card-title{
  margin-top: 20px;
  color: #ffffff;
  margin-bottom: auto;
}

#mapButton{
  float: right;
}

a{
  color: #9E9E9E;
  margin: 5px;
  box-shadow: 0px 3px 10px lightgray;
  background: rgb(255,255,255);

}

.ca-listItemText{
  margin-left: 10px;
  width: 60%;
  float: left;
}

.ca-listItemContactIcon {
  font-size: 100px;
}

.ca-contactIconDiv{
float: right;
}
md-card-content{
  color: gainsboro;
}
