<div id="card-headerbox" fxHide.xs="true">
</div>
<md-card>
  <table>
    <md-card-title style="color: #5c6bc0; margin-bottom: auto">{{contact.firstName}} {{contact.lastName}}
      <div fxHide.gt-xs="true" fxFlexAlign="stretch"><a md-mini-fab color="primary" (click)="onEdit(contact)">
        <md-icon>keyboard_arrow_down</md-icon>
      </a></div>
    </md-card-title>
    <div fxHide.xs="true">
      <md-card-content>
        <br>{{contact | contactAddress}}
        <br>{{contact.phoneNumber}}
        <br>
      </md-card-content>
    </div>
  </table>

  <md-card-actions>
    <div fxHide.xs="true">
      <a md-mini-fab (click)="onEdit(contact)">
        <md-icon>edit</md-icon>
      </a>
      <a md-mini-fab (click)="onDelete(contact)">
        <md-icon>delete</md-icon>
      </a>
      <div id="mapButton">
        <a md-mini-fab (click)="onMap(contact)">
          <md-icon>room</md-icon>
        </a>
      </div>
    </div>
  </md-card-actions>

</md-card>
