<div id="container">
  <md-card>
    <div id="header">
    <md-card-title id="card-header">
      Login
    </md-card-title>
    </div>
   <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="Username" required [(ngModel)]="username">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput type="text" type="password" placeholder="Password" required [(ngModel)]="password">
      </md-input-container>
       <br>
         </md-card-content>
        <md-card-actions>
          <button vibration md-button (click)="buttonClick()">
            Sign in
          </button>
        </md-card-actions>
  </md-card>
</div>
