<md-sidenav-container class="ca-sidenav-container">
  <md-sidenav class="ca-sidenav" #sidenav [mode]="sidenavMode" [opened]="sidenavMode=='side'">
    <div id="sidenav-img"><img src="../assets/header.jpg"></div>
    <div id="sidenavHeader">
      <i class="material-icons" id="face-icon">tag_faces</i>
      <h3>{{this.username}} Username</h3>
      <h5>{{this.email}} user@gmail.com</h5>
    </div>
  </md-sidenav>
  <md-toolbar class="mat-elevation-z5" color="primary">
    <button md-fab (click)="sidenav.toggle()" color="primary">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <div class="ca-app-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
