<md-sidenav-container class="container">
  <md-sidenav *ngIf="!toolbarDisabled" class="ca-sidenav" name="sidenav" #sidenav [mode]="sidenavMode"
              [opened]="sidenavMode=='side'">
    <div><img id="sidenav-img" src="../assets/header.jpg"></div>
    <div id="sidenavHeader">
      <md-grid-list cols="4" rowHeight="30px">
        <h3>Username</h3>
      </md-grid-list>
    </div>
  </md-sidenav>
  <div id="content">
    <md-toolbar *ngIf="!toolbarDisabled" class="mat-elevation-z5" color="primary">
      <button vibration md-fab (click)="sidenavToggle()" color="primary">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
