<md-sidenav-container class="container">
  <md-sidenav *ngIf="!toolbarDisabled" class="ca-sidenav" name="sidenav" #sidenav [mode]="sidenavMode"
              [opened]="sidenavMode=='side'">
    <div id="sidenav-img"></div>
    <div id="sidenavHeader" [ngClass]="{'sidenavHeaderShadow': isShadowClassVisible}">
      <div class="userInfo">
        <div class="ca-sidenavUserImg"></div>
        <h3>{{user.userName}}</h3>
      <p>{{user.email}}</p></div>
    </div>
  </md-sidenav>
  <div id="content">
    <md-toolbar *ngIf="!toolbarDisabled" class="mat-elevation-z5" color="primary">
      <button vibration md-fab (click)="sidenavToggle()" color="primary">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
